.App {
  border-top: 8px solid #283e4a;
  text-align: center;
  align-content: center;
  display:flex;
  flex-direction: column;
  justify-content: start; /* if collumn vertical else inverte */
  align-items: center; /* if collumn horizontal else inverte */
  height: 100vh;
 
}


